<hr class="mv5">

<p>
  <b>Educasuisse Association</b><br>
  93, avenue de Châtelaine<br>
  1219 Châtelaine<br>
  Téléphone : <a href="tel:+412278648121">+41 (0)22 786 48 21</a><br>
  E-mail : <a href="mailto:info@educasuisse.ch">info@educasuisse.ch</a>
</p>

<a href="https://www.google.ch/maps/place/Educasuisse+Association/@46.2111207,6.1093313,17z/data=!3m1!4b1!4m5!3m4!1s0x478c64baf93b3f3f:0xb3d220b9652dfd06!8m2!3d46.211117!4d6.11152" title="Educasuisse sur Google Maps">
  <img src="/img/contact/contact-map.png" alt="Educasuisse sur Google Maps">
</a>
