<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
      <meta charset="utf-8">

      <base href="{{ .Site.BaseURL }}">
      <title> {{ .Title }} - Educasuisse</title>
      <link rel="canonical" href="{{ .Permalink }}">

  </head>
  <body lang="{{ .Site.LanguageCode }}">
    <img src="/img/logo_educasuisse.jpg">
    {{ .Title }}
    <nav class="sidebar-nav">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
          <a class="sidebar-nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
          {{ end }}
      </nav>
