{{ partial "header.html" . }}
<main>
  <section class="cf w-100 pa2-ns">
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educasuisse-ecoledejournalisme.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.ecole-journalisme.ch/geneve/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École de journalisme</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educasuisse-ecoledecinema.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.ecole-cinema.ch/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">École de cinéma</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educasuisse-lagazettedegeneve.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.gazette-geneve.ch/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Gazette</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(/img/educasuisse-cinemascope.jpg);"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="http://www.cinemascope.ch/" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Cinemascope</h3>
      </a>
    </article>
  </section>
</main>
{{ partial "footer.html" . }}
